@page
@model Hackaton.App.Frontend.Pages.FormMigranteModel
@{
var migrante = Model.Migrante;
}


<h1>Formulario Registro para Migrantes</h1>

<div class="text-center">
    <form method="POST">


        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" asp-for="Migrante.nombre">
        <span class="text-danger" asp-validation-for="Migrante.nombre"></span>
        <label for="apellidos" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" placeholder="Apellidos" asp-for="Migrante.apellidos">
        <span class="text-danger" asp-validation-for="Migrante.apellidos"></span>
        <label for="tipo_documento" class="form-label">Tipo de Documento:</label>
        <input type="text" class="form-control" placeholder="Tipo de documento" asp-for="Migrante.tipo_documento">
        <span class="text-danger" asp-validation-for="Migrante.tipo_documento"></span>
        <label for="identificacion" class="form-label">Número de Documento:</label>
        <input type="text" class="form-control" placeholder="Numero de documento" asp-for="Migrante.identificacion">
        <span class="text-danger" asp-validation-for="Migrante.identificacion"></span>
        <label for="pais_origen" class="form-label">Pais Origen:</label>
        <input type="text" class="form-control" placeholder="Pais de origen" asp-for="Migrante.pais_origen">
        <span class="text-danger" asp-validation-for="Migrante.pais_origen"></span>
        <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
        <input type="date" class="form-control placeholder="Fecha de Nacimiento" asp-for="Migrante.fecha_nacimiento">
        <span class="text-danger" asp-validation-for="Migrante.fecha_nacimiento"></span>
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" asp-for="@migrante.email">
        <label for="telefono" class="form-label">Telefono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono"
            asp-for="@migrante.telefono">
        <label for="direccion_actual" class="form-label">Direccion Actual:</label>
        <input type="text" class="form-control" id="direccion_actual" name="direccion_actual"
            placeholder="Direccion Actual" asp-for="@migrante.direccion_actual">
        <label for="direccion_actual" class="form-label">Ciudad:</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad"
            asp-for="@migrante.ciudad">
        <label for="situacion_laboral" class="form-label">Situacion Laboral:</label>
        <input type="text" class="form-control" id="situacion_laboral" name="situacion_laboral"
            placeholder="Situacion Laboral" asp-for="@migrante.situacion_laboral">

        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>